.blog {
  padding: 5% 0 5% 0;
  &-block {
    padding-top: 3%;
    display: flex;
    justify-content: space-around;

    &_section {
      margin: 1%;
      &-img-block {
        position: relative;
      }
      &-img {
        position: relative;
        width: 100%;
      }
      &-day {
        position: absolute;
        transform: translateY(-50%);
        left:-3%;
        top: 80%;
        width:60px;
        height: 70px;
        text-align: center;
        background-color:$third-main-color;
        color: $main-color;
        &_number {
          font-size: 30px;
          font: $ff-main-bold;
          margin: 0;
          padding-top: 20%;
        }
        &_month {
          margin: 0;
          font-size: 15px;
          font-family:$ff-main-light;
        }

      }
      &-list {
        display: flex;
        justify-content:flex-start;
        position: relative;
      }
      &-view {
        margin-right: 15%;
        font-family:$ff-main-light;
        color: #999999;
        &:before {
          content: '';
          position: absolute;
          display: block;
          background-image: url(../images/view.svg);
          background-size: 28px 28px;
          height: 28px;
          width: 28px;
          left: 0;
          top: -25%;

        }
      }
      &-comment {
        font-family:$ff-main-light;
        font-size: 15px;
        color: #999999;
        &:before {
          content: '';
          position: absolute;
          display: block;
          background-image: url(../images/speech-bubble-2.svg);
          background-size: 28px 28px;
          height: 28px;
          width: 28px;
          left: 20%;
          top: -25%;

        }
      }
    }
  }
}
