.features {
  background: $main-color url('../images/layer-45.png') center/cover no-repeat;
  padding-top: calc(#{$section-top-padding} + 9px);
  display: flex;
  position: relative;
  &:after {
    content: '';
    background: url(../images/rectangle-21.svg);
    opacity: 0.4;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
    height: 100%;
    width: 100%;
  }
  &-container_img {
    padding-top:$padding-after-title;
    z-index: 2;
    position: relative;
    &_pic-2 {
      position: absolute;
      top:40%;
      right: -27%;
    }
    &_pic-1 {}
  }
  &-text {
    z-index: 2;
  }
}
