.services {
  padding-top: 5%;
  &-list_top, &-list_bottom {
    display: flex;
    justify-content: space-between;
  }
  &-list_top {
    padding-top: 5%;

    &-item-1,
    &-item-2,
    &-item-3 { padding-right:68px ; }
    &-item-1 {
      position: relative;
      width: 30%;
      &:before {
        content:'';
        display: block;
        background-image: url('../images/alarm.svg');
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
        position: absolute;
        left: -15%;
        top: 15%;
      }
    }
    &-item-2 {
      position: relative;
      width: 30%;
      &:before {
        content:'';
        display: block;
        background-image: url('../images/line-graph.svg');
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
        position: absolute;
        left: -15%;
        top: 15%;
      }
    }
    &-item-3 {
      position: relative;
      width: 30%;
      &:before {
        content:'';
        display: block;
        background-image: url('../images/computer---ok.svg');
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
        position: absolute;
        left: -15%;
        top: 15%;
      }
    }
  }
  &_item-header {
    font:$ff-main-second;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: $second-main-color;
  }
  &_item-text {
    font: $ff-main-reg;
    font-size: 12px;
    line-height: 24px;
    color:#999999;
  }
  &-list_bottom {
    padding-bottom: 5%;

    &-item-1,
    &-item-2,
    &-item-3 { padding-right:68px ; }
    &-item-1 {
      position: relative;
      width: 30%;
      &:before {
        content:'';
        display: block;
        background-image: url('../images/book-2.svg');
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
        position: absolute;
        left: -15%;
        top: 15%;
      }
    }
    &-item-2 {
      position: relative;
      width: 30%;
      &:before {
        content:'';
        display: block;
        background-image: url('../images/home.svg');
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
        position: absolute;
        left: -15%;
        top: 15%;
      }
    }
    &-item-3 {
      position: relative;
      width: 30%;
      &:before {
        content:'';
        display: block;
        background-image: url('../images/image.svg');
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
        position: absolute;
        left: -15%;
        top: 15%;
      }
    }
  }
}