.scrollbar {
  overflow-y: scroll;
}

#style-1::-webkit-scrollbar,
#style-2::-webkit-scrollbar,
#style-3::-webkit-scrollbar {
  width: 5px;
  height: 140px;
  background-color: #F5F5F5;

}
#style-1::-webkit-scrollbar-thumb,
#style-2::-webkit-scrollbar-thumb,
#style-3::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:$third-main-color;
}
#style-1::-webkit-scrollbar-track,
#style-2::-webkit-scrollbar-track,
#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}