//Fonts
$ff-main: 'KaushanScript-Regular';
$ff-main-bold: 'Montserrat-Bold';
$ff-main-reg: 'Roboto-Regular';
$ff-main-second: 'Montserrat-Regular';
$ff-main-light: 'Roboto-LightItalic';


//Colors
$main-color: #ffffff;
$second-main-color: #333333;
$third-main-color: #95e1d3;
$line-color: #f38181;

$min-width: 700px;
$max-width: 1920px;
$min-font: 12px;
$max-font: 25px;
$line-width: 60px;
$line-height: 3px;
$padding-after-title: 46px;
$section-top-padding: 100px;
$section-bottom-padding: 112px;
$container-width: 1200px;
$menu-nav-width: 620px;