doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        title Mogo

    body
        include sections/header
        include sections/about
        include sections/services
        include sections/features
        include sections/whatWeDo
        include sections/ourTeam
        include sections/someOurWork
        include sections/clients
        include sections/blog
        include sections/map
        include sections/footer