section.about
    .container
        .title.title-with-bottom-line
            h2.title-small What we do
            h3.title-big Story about us
        p.about-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            | dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            | ex ea commodo consequat.

        .about-images
            .about-images_list
                a.tile(href="#")
                    img.about-images_list_img(src="../images/layer-44.jpg" alt="img")
                    .tile-content
                        img.about-images_hover-img(src="../images/users.png")
                        h6.about-images_hover-title super team
            .about-images_list
                a.tile(href="#")
                    img.about-images_list_img(src="../images/layer-39.jpg" alt="img")
                    .tile-content
                        img.about-images_hover-img(src="../images/users.png")
                        h6.about-images_hover-title super team
            .about-images_list
                a.tile(href="#")
                    img.about-images_list_img(src="../images/layer-41.jpg" alt="img")
                    .tile-content
                        img.about-images_hover-img(src="../images/users.png")
                        h6.about-images_hover-title super team
.about-bottom
    .container
        ul.about-bottom_list
            li.about-bottom_item
                p.about-bottom_item-number 42
                p.about-bottom_item-text web design projects
            li.about-bottom_item
                p.about-bottom_item-number 123
                p.about-bottom_item-text happy client
            li.about-bottom_item
                p.about-bottom_item-number 15
                p.about-bottom_item-text award winner
            li.about-bottom_item
                p.about-bottom_item-number 99
                p.about-bottom_item-text cup of coffee
            li.about-bottom_item
                p.about-bottom_item-number 24
                p.about-bottom_item-text members