section.blog
    .container
        .title.title-with-bottom-line
            h2.title-small Our stories
            h3.title-big latest blog
        .blog-block
            .blog-block_section
                .blog-block_section-img-block
                    img.blog-block_section-img(src="../images/layer-54.png")
                    .blog-block_section-day
                        p.blog-block_section-day_number 15
                        p.blog-block_section-day_month Jan
                h4.blog-block_section-header Lorem ipsum dolor sit amet
                p.blog-block_section-text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    |et dolore magna aliqua.
                ul.blog-block_section-list
                    li.blog-block_section-view 542
                    li.blog-block_section-comment 17
            .blog-block_section
                .blog-block_section-img-block
                    img.blog-block_section-img(src="../images/layer-55.png")
                    .blog-block_section-day
                        p.blog-block_section-day_number 14
                        p.blog-block_section-day_month Jan
                h4.blog-block_section-header Lorem ipsum dolor sit amet
                p.blog-block_section-text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    |et dolore magna aliqua.
                ul.blog-block_section-list
                    li.blog-block_section-view 542
                    li.blog-block_section-comment 17
            .blog-block_section
                .blog-block_section-img-block
                    img.blog-block_section-img(src="../images/layer-57.png")
                    .blog-block_section-day
                        p.blog-block_section-day_number 12
                        p.blog-block_section-day_month Jan
                h4.blog-block_section-header Lorem ipsum dolor sit amet
                p.blog-block_section-text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    |et dolore magna aliqua.
                ul.blog-block_section-list
                    li.blog-block_section-view 542
                    li.blog-block_section-comment 17

