section.clients
    .container
        .title.title-with-bottom-line
            h2.title-small Happy Clients
            h3.title-big what people say

        .clients-block
            .clients-block-1
                img.clients-block_img(src="../images/layer-47.png")
                .clients-block-1_info
                    .clients-block-1_info-title
                        h2.title-small.clients-title-1 Matthew Dix
                        h3.title-big.clients-title-2 Graphic Design
                    p.clients_info-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.

            .clients-block-2
                img.clients-block_img(src="../images/layer-49.png")
                .clients-block-2_info
                    .clients-block-1_info-title
                        h2.title-small.clients-title-1 Matthew Dix
                        h3.title-big.clients-title-2 Graphic Design
                    p.clients_info-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            .clients-block-3
                img.clients-block_img(src="../images/layer-50.png")
                .clients-block-1_info
                    .clients-block-3_info-title
                        h2.title-small.clients-title-1 Matthew Dix
                        h3.title-big.clients-title-2 Graphic Design
                    p.clients_info-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            .clients-block-4
                img.clients-block_img(src="../images/layer-51.png")
                .clients-block-4_info
                    .clients-block-1_info-title
                        h2.title-small.clients-title-1 Matthew Dix
                        h3.title-big.clients-title-2 Graphic Design
                    p.clients_info-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.