section.features
    .container
        .title.title-with-bottom-line.features-text
            h2.title-small For all devices
            h3.title-big unigue design
        .features-container_img
            img.features-container_img_pic-1(src="../images/display-bg-768x1024.png")
            img.features-container_img_pic-2(src="../images/white.png")
