footer.footer
    .container.footer-block
        .footer-block_subscribe
            img.footer-block_subscribe_img(src="../images/mogo.png" alt="footer-logo")
            p.footer-block_subscribe_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .footer-block_subscribe_text-followers
                span.footer-block_subscribe_text-followers_number 15k
                span.footer-block_subscribe_text-followers_text followers
                hr
                ul.footer-block_subscribe-list
                    li.footer-block_subscribe-list_social_icons
                        span Follow us:
                    li.footer-block_subscribe-list_social_icons
                        img.footer-block_subscribe-list_social_icons-img(src="../images/facebook.svg" alt="facebook")
                    li.footer-block_subscribe-list_social_icons
                        img.footer-block_subscribe-list_social_icons-img(src="../images/twitter.svg" alt="twitter")
                    li.footer-block_subscribe-list_social_icons
                        img.footer-block_subscribe-list_social_icons-img(src="../images/instagram.svg" alt="instagram")
                    li.footer-block_subscribe-list_social_icons
                        img.footer-block_subscribe-list_social_icons-img(src="../images/pinterest.svg" alt="pinterest")
                    li.footer-block_subscribe-list_social_icons
                        img.footer-block_subscribe-list_social_icons-img(src="../images/google-plus.svg" alt="google")
                    li.footer-block_subscribe-list_social_icons
                        img.footer-block_subscribe-list_social_icons-img(src="../images/youtube.svg" alt="youtube")
                    li.footer-block_subscribe-list_social_icons
                        img.footer-block_subscribe-list_social_icons-img(src="../images/dribbble.svg" alt="dribbble")
                    li.footer-block_subscribe-list_social_icons
                        img.footer-block_subscribe-list_social_icons-img(src="../images/tumblr.svg" alt="tumblr")

                .footer-block_subscribe-input
                    input.footer-block_subscribe-input_area(type="e-mail" value="Your Email...")
                    button.footer-block_subscribe-input_btn(type="submit") subscribe
        .footer-block_blogs
            h4.footer-block_blogs-header blogs
            ul.footer-block_blogs-list
                li.footer-block_blogs-item
                    img(src="../images/blogs-3.png" alt="")
                    ul.footer-block_blogs-item_list
                        li.footer-block_blogs-item_text
                            span.text-1 Lorem ipsum dolor sit amet, consectetur adipiscing
                        li.footer-block_blogs-item_text
                            span.text-2 Jan 9, 2016
                li.footer-block_blogs-item
                    img(src="../images/blogs-2.png" alt="")
                    ul.footer-block_blogs-item_list
                        li.footer-block_blogs-item_text
                            span.text-1 Lorem ipsum dolor sit amet, consectetur adipiscing
                        li.footer-block_blogs-item_text
                            span.text-2 Jan 9, 2016
                li.footer-block_blogs-item
                    img(src="../images/blogs-1.png" alt="")
                    ul.footer-block_blogs-item_list
                        li.footer-block_blogs-item_text
                            span.text-1 Lorem ipsum dolor sit amet, consectetur adipiscing
                        li.footer-block_blogs-item_text
                            span.text-2 Jan 9, 2016
        .footer-block_instagram
            h4.footer-block_instagram-header instagram
            .footer-block_instagram-section
                img.footer-block_instagram-section_img(src="../images/photos-7884m86ovdhbiwki.png")
                img.footer-block_instagram-section_img(src="../images/photos-7884mbqau4dkse9k.png")
                img.footer-block_instagram-section_img(src="../images/photos-7884mje3abujpto1.png")
                img.footer-block_instagram-section_img(src="../images/photos-7884nwl7ruku3rhj.png")
                img.footer-block_instagram-section_img(src="../images/photos-7884qnjlwal4ta8x.png")
                img.footer-block_instagram-section_img(src="../images/photos-7884rrdznwx35xgc.png")
                img.footer-block_instagram-section_img(src="../images/photos-7884w4hbogfc6wdb.png")
                img.footer-block_instagram-section_img(src="../images/photos-78841zcs1olcjbr4.png")
                img.footer-block_instagram-section_img(src="../images/photos-78842fgommtud5z9.png")

