header.header
    .container
        .header-top
            span.header-logo MoGo
            nav.header-top_nav
                a.header-top_nav_item(href="#") ABOUT
                a.header-top_nav_item(href="#") SERVICE
                a.header-top_nav_item(href="#") WORK
                a.header-top_nav_item(href="#") BLOG
                a.header-top_nav_item(href="#") CONTACTS

                a.header-top_nav_item.shopping-cart(href="#")
                    img.header-top_nav_item_img(src="../images/shopping-cart.svg")
                a.header-top_nav_item.search(href="#")
                    img.header-top_nav_item_img(src="../images/magnifying-glass.svg")

        .header-center
            h3.header-center_top-text-1 Creative Template
            h1.header-center_big-text-2 Welcome to MoGo
            .header-center_btn-container
                button.btn.white-border learn more

        .header-bottom
            nav.header-bottom_nav
                a.header-bottom_nav_item(href="#")
                    span.header-bottom_nav_item-number 01
                    span.header-bottom_nav_item-text INTO
                a.header-bottom_nav_item(href="#")
                    span.header-bottom_nav_item-number 02
                    span.header-bottom_nav_item-text WORK
                a.header-bottom_nav_item(href="#")
                    span.header-bottom_nav_item-number 03
                    span.header-bottom_nav_item-text ABOUT
                a.header-bottom_nav_item(href="#")
                    span.header-bottom_nav_item-number 04
                    span.header-bottom_nav_item-text CONTACTS