section.services
    .container
        .title.title-with-bottom-line
            h2.title-small We work with
            h3.title-big amazing services

        ul.services-list_top
            li.services-list_top-item-1
                h4.services_item-header Photography
                p.services_item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            li.services-list_top-item-2
                h4.services_item-header Web Design
                p.services_item-text Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            li.services-list_top-item-3
                h4.services_item-header Creativity
                p.services_item-text Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        hr.services_hr
        ul.services-list_bottom
            li.services-list_bottom-item-1
                h4.services_item-header SEO
                p.services_item-text Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            li.services-list_bottom-item-2
                h4.services_item-header Css/Html
                p.services_item-text Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.
            li.services-list_bottom-item-3
                h4.services_item-header digital
                p.services_item-text Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.