section.someOurWork
    .container
        .title.title-with-bottom-line
            h2.title-small Who we do
            h3.title-big some of our work
        p.someOurWork-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat.
    .someOurWork-img_block

        .section-left
            .block-1.tile
                img.a(src="../images/layer-26.jpg")
                .tile-content
                    img.about-images_hover-img(src="../images/picture.svg")
                    h6.about-images_hover-title creatively designed
                    p.about-images_hover-text Lorem ipsum dolor sit
            .block-2.tile
                img.b(src="../images/layer-33.jpg")
                .tile-content
                    img.about-images_hover-img(src="../images/picture.svg")
                    h6.about-images_hover-title creatively designed
                    p.about-images_hover-text Lorem ipsum dolor sit
            .block-3.tile
                img.c(src="../images/layer-35.jpg")
                .tile-content
                    img.about-images_hover-img(src="../images/picture.svg")
                    h6.about-images_hover-title creatively designed
                    p.about-images_hover-text Lorem ipsum dolor sit
            .block-4.tile
                img.d(src="../images/layer-29.jpg")
                .tile-content
                    img.about-images_hover-img(src="../images/picture.svg")
                    h6.about-images_hover-title creatively designed
                    p.about-images_hover-text Lorem ipsum dolor sit

        .section-right
            .section-right-block_left
                .block-5.tile
                    img.e(src="../images/layer-34.jpg")
                    .tile-content
                        img.about-images_hover-img(src="../images/picture.svg")
                        h6.about-images_hover-title creatively designed
                        p.about-images_hover-text Lorem ipsum dolor sit
            .section-right-block_right
                .block-6.tile
                    img.f(src="../images/layer-31.jpg")
                    .tile-content
                        img.about-images_hover-img(src="../images/picture.svg")
                        h6.about-images_hover-title creatively designed
                        p.about-images_hover-text Lorem ipsum dolor sit
                .block-7.tile
                    img.g(src="../images/layer-32.jpg")
                    .tile-content
                        img.about-images_hover-img(src="../images/picture.svg")
                        h6.about-images_hover-title creatively designed
                        p.about-images_hover-text Lorem ipsum dolor sit

.someOurWork_slider
    .container
        .carousel-container
            .container.someOrWork-carousel
                .carousel.my-carousel.carousel--translate
                    input.carousel__activator(type="radio" name="carousel" id="F" checked="checked")
                    input.carousel__activator(type="radio" name="carousel" id="G")
                    input.carousel__activator(type="radio" name="carousel" id="H")
                    .carousel__controls
                        label.carousel__control.carousel__control--backward(for="F")
                        label.carousel__control.carousel__control--forward(for="G")
                    .carousel__controls
                        label.carousel__control.carousel__control--backward(for="G")
                        label.carousel__control.carousel__control--forward(for="H")
                    .carousel__controls
                        label.carousel__control.carousel__control--backward(for="H")
                        label.carousel__control.carousel__control--forward(for="F")
                    .carousel__track
                        .carousel__slide
                            .carousel__slide-container
                                img.someOurWork_slider-list_block-img(src="../images/layer-36.png")
                                ul.someOurWork_slider-list_block-right
                                    li.someOurWork_slider-list_item-1
                                        p.someOurWork_slider-list_text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                                    li.someOurWork_slider-list_author Joshua Earle
                        .carousel__slide
                            .carousel__slide-container
                                img.someOurWork_slider-list_block-img(src="../images/layer-36.png")
                                ul.someOurWork_slider-list_block-right
                                    li.someOurWork_slider-list_item-1
                                        p.someOurWork_slider-list_text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                                    li.someOurWork_slider-list_author Jon Doe
                        .carousel__slide
                            .carousel__slide-container
                                img.someOurWork_slider-list_block-img(src="../images/layer-36.png")
                                ul.someOurWork_slider-list_block-right
                                    li.someOurWork_slider-list_item-1
                                        p.someOurWork_slider-list_text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                                    li.someOurWork_slider-list_author Joshua Earle
                    .carousel__indicators
                    label.carousel__indicator(for="F")
                    label.carousel__indicator(for="G")
                    label.carousel__indicator(for="H")
