section.what-we-do
    .container
        .title.title-with-bottom-line
            h2.title-small Service
            h3.title-big what we do
        p.what-we-do_text
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            |ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            |laboris nisi ut aliquip ex ea commodo consequat.
        .what-we-do_container
            .what-we-do_container_img
                img.what-we-do_img(src="../images/layer-43.png" alt="image")
            .what-we-do_accordion
                .what-we-do_accordion_item
                    input#tab-one.what-we-do_accordion_item-input(type="radio" name="tabs")
                    label.what-we-do_accordion_item-label-1(for="tab-one") photography
                    .what-we-do_accordion_item-tab-content.scrollbar#style-1
                        p.what-we-do_accordion_item-tab-content_text
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            | ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            | ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            | mollit anim id est laborum.
                .what-we-do_accordion_item
                    input#tab-two(type="radio" name="tabs")
                    label.what-we-do_accordion_item-label-2(for="tab-two") creativity
                    .what-we-do_accordion_item-tab-content.scrollbar#style-2
                        p.what-we-do_accordion_item-tab-content_text
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            | ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            | ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            | mollit anim id est laborum.
                .what-we-do_accordion_item
                    input#tab-tree(type="radio" name="tabs")
                    label.what-we-do_accordion_item-label-3(for="tab-tree") web gesign
                    .what-we-do_accordion_item-tab-content.scrollbar#style-3
                        p.what-we-do_accordion_item-tab-content_text
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            | ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            | ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            | mollit anim id est laborum.

.what-we-do_slider
    .container
        .carousel-container
            .container.what-we-do-carousel
                .carousel.my-carousel.carousel--translate
                    input.carousel__activator(type="radio" name="carousel" id="F" checked="checked")
                    input.carousel__activator(type="radio" name="carousel" id="G")
                    input.carousel__activator(type="radio" name="carousel" id="H")
                    .carousel__controls
                        label.carousel__control.carousel__control--backward(for="F")
                        label.carousel__control.carousel__control--forward(for="G")
                    .carousel__controls
                        label.carousel__control.carousel__control--backward(for="G")
                        label.carousel__control.carousel__control--forward(for="H")
                    .carousel__controls
                        label.carousel__control.carousel__control--backward(for="H")
                        label.carousel__control.carousel__control--forward(for="F")
                    .carousel__track
                        .carousel__slide
                            .carousel__slide-container
                                .what-we-do_slider-list_block
                                    img.what-we-do_slider-list_block-img(src="../images/speech-4.svg")
                                ul.what-we-do_slider-list_block-right
                                    li.what-we-do_slider-list_item-1
                                        p.what-we-do_slider-list_text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                                    li.what-we-do_slider-list_author Jon Doe
                        .carousel__slide
                            .carousel__slide-container
                                .what-we-do_slider-list_block
                                    img.what-we-do_slider-list_block-img(src="../images/speech-4.svg")
                                ul.what-we-do_slider-list_block-right
                                    li.what-we-do_slider-list_item-1
                                        p.what-we-do_slider-list_text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                                    li.what-we-do_slider-list_author Jon Doe
                        .carousel__slide
                            .carousel__slide-container
                                .what-we-do_slider-list_block
                                    img.what-we-do_slider-list_block-img(src="../images/speech-4.svg")
                                ul.what-we-do_slider-list_block-right
                                    li.what-we-do_slider-list_item-1
                                        p.what-we-do_slider-list_text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                                    li.what-we-do_slider-list_author Jon Doe
                    .carousel__indicators
                    label.carousel__indicator(for="F")
                    label.carousel__indicator(for="G")
                    label.carousel__indicator(for="H")









